<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>13271250399-jfujo7bfggiivttn8cr4a19e74b89u36.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.13271250399-jfujo7bfggiivttn8cr4a19e74b89u36</string>
	<key>API_KEY</key>
	<string>AIzaSyBQB1mUjXJ5rcU6THQo-564pOvWfiYu9fA</string>
	<key>GCM_SENDER_ID</key>
	<string>13271250399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aquafatec.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>aquafatec-5daef</string>
	<key>STORAGE_BUCKET</key>
	<string>aquafatec-5daef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13271250399:ios:28733cd50bc70825ae806a</string>
</dict>
</plist>